<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eventbookingapp">

    <application
        android:allowBackup="true"
        android:label="Event Booking App"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EventBookingApp">

        <!-- MAIN SCREEN (APP STARTS HERE) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- OTHER SCREENS -->
        <activity android:name=".Eventdetail" />
        <activity android:name=".Booking" />
        <activity android:name=".Mybookings" />
        <activity android:name=".appInfo" />
        <activity android:name=".PaymentActivity" />

    </application>

</manifest>